/*general body style */



/*button style*/

button {
  border-width: 1px;
  border-radius: 10px;
  padding-inline: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  margin: 0.5rem;
}

button:active {
  background-color: black;
  color: antiquewhite;
}